@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    scroll-behavior: smooth;
  }
}

@layer components {
  .btn {
    @apply font-bold py-2 px-4 rounded transition duration-300;
  }
  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600;
  }
  .btn-secondary {
    @apply bg-gray-200 text-gray-800 hover:bg-gray-300;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

html {
  scroll-behavior: smooth;
}

.section {
  padding-top: 80px; /* Adjust this based on your header height */
  margin-top: -80px; /* Same value, negative to pull the section up */
}